[submodule "izrada-web-stranice-web-shop-isakMurtezani"]
	path = izrada-web-stranice-web-shop-isakMurtezani
	url = https://github.com/Trokut-Neet-Akademija-4-0/izrada-web-stranice-web-shop-isakMurtezani.git
